click==8.0.4
colorama==0.4.4
cycler==0.11.0
fonttools==4.31.2
kiwisolver==1.4.0
matplotlib==3.5.1
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.5.1
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
PyVISA==1.11.3
setuptools==58.1.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.1.1
wheel==0.37.1
git+https://github.com/mvergin/pymeasurebackcall==0.2.0
black==22.8.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==2.2.0
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
executing==1.0.0
fonttools==4.31.2
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pathspec==0.9.0
pickleshare==0.7.5
Pillow==9.0.1
Pint==0.20.1
platformdirs==2.5.1
pure-eval==0.2.2
Pygments==2.13.0
PyMeasure @ git+https://github.com/mvergin/pymeasure.git@39ed591b9f861b4e4b543ac912bbdea8645d0356
pynvml==11.4.1
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
PyVISA==1.11.3
pywin32==304
pyzmq==23.2.1
requests==2.28.1
rich==12.6.0
scalene==1.5.15
scipy==1.9.3
six==1.16.0
snakeviz==2.1.1
tomli==2.0.1
tornado==6.2
traitlets==5.3.0
typing_extensions==4.1.1
urllib3==1.26.13
wcwidth==0.2.5
